@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Raleway:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        cursor: none;
    }

    html {
        @apply bg-white;
        @apply font-body;
        font-size: clamp(1em, 0.625vw + 0.8313em, 1.1875em);
    }

    body {
        @apply bg-white;
        @apply font-body;
        overflow-x: hidden;
    }

    h1,
    h2,
    h3,
    h4 {
        @apply font-title;
    }

    h1 {
        font-size: 75px;
        line-height: 1;
    }

    h2 {
        font-size: 50px;
        line-height: 1;
    }

    h3 {
        font-size: 36px;
        line-height: 1;
    }

    h4 {
        font-size: 26px;
        line-height: 1;
    }

    small {
        font-size: 14.1509px;
        line-height: 1;
    }

    /* *********** Header Componenet *********** */
    .header {
        height: 100svh;
    }

    /* *********** Navbar Componenet *********** */
    .menu {
        position: relative;
        width: 50px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid; */
        z-index: 20;
    }

    .menu::before {
        content: "";
        width: 20px;
        height: 2px;
        top: calc(50% + 3px);
        transform: translateY(-50%);
        transition: all 0.3s linear 0.3s;
        @apply absolute block rounded-sm bg-black;
    }

    .menu::after {
        content: "";
        width: 30px;
        height: 2px;
        top: calc(50% - 3px);
        transform: translateY(-50%);
        transition: all 0.3s linear 0.3s;
        @apply absolute block rounded-sm bg-black;
    }

    .menu.active::before {
        content: "";
        width: 20px;
        height: 2px;
        top: calc(50%);
        transform: rotate(-45deg);
        transition: all 0.3s linear 0.3s;
        @apply absolute block rounded-sm bg-white;
    }

    .menu.active::after {
        content: "";
        width: 20px;
        height: 2px;
        top: calc(50%);
        transform: rotate(45deg);
        transition: all 0.3s linear 0.3s;
        @apply absolute block rounded-sm bg-white;
    }

    .links {
        top: 0;
        right: 0px;
        @apply absolute flex flex-col items-start justify-center gap-20 overflow-hidden rounded-lg bg-black pl-15 text-white;
    }

    .links div {
        @apply relative p-1;
    }

    .links div::after {
        content: "";
        width: 5px;
        height: 5px;
        transition: all 0.4s;
        @apply absolute -bottom-5 left-1/2 block -translate-x-1/2 rounded-full bg-white;
    }

    .links div:hover::after {
        width: 100%;
        pointer-events: none;
    }

    

    /* *********** About Component *********** */
    .multiBtn {
        position: relative;
        z-index: 5;
        cursor: none;
    }

    .multiBtn::after {
        content: "";
        z-index: -1;
        transition:
            left 0.1s ease,
            top 0.1s ease;
        @apply absolute left-[8px] top-[8px] block h-full w-full border border-2 border-black;
    }

    .multiBtn:active::after {
        @apply left-0 top-0;
    }

    .subHead {
        position: relative;
        z-index: 5;
    }

    .subHead::after {
        content: "";
        z-index: -1;
        @apply absolute bottom-5 left-0 block h-10 w-full bg-brown-light;
    }

   
}
